<div>
<mat-grid-list cols="3" rowHeight="1:1">

  <mat-grid-tile *ngFor="let game of myGames">
    <mat-card  class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + game.iconSmall + ')'}"></div>
        <mat-card-title>{{game.title}}</mat-card-title>
        <mat-card-subtitle>{{game.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{game.icon}}" alt="Photo of a pong game">
      <mat-card-content>
        <p>
          {{game.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="loadGame(game.url)">PLAY</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
</div>





